
.App {
  margin-top: 150px;
  text-align: center;
}

.framed {
  min-height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 0px;
  background-color: white;
  text-align: center;
}

